header {
    margin: 0px auto;
    width: 70%;
}

#logo-head {
    background: #0099ff;
    background-image: url("../img/pattern.png");
    height: 100px;
    margin-bottom: 0px;
    background-size: 400px;
}

/* se metto backgroundsize in % si rimpicciolirà man mano che cambia la risoluzione, se imposto un px (in questo caso 400px) mi manterrà l'immagine che voglio fare vedere */

img {
    width: 20%;
    height: auto;
    margin-top: 5%;
}

/* sbagliato il margin-top perchè ho fatto a tentativi. Come fare?  */

main {
    margin: 0px auto;
    width: 60%;
}

#booleaner {
    color: #0099ff;
}

h1 {
    margin-bottom: 0px;
}
h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h6 {
    margin-top: 0px;
}

.fototim {
    width: auto;
    height: 200px;
}

.didascalia {
    font-size: 10px;
    margin: 0px;
}

.yellowbackg {
    background-color: yellow;
}

/* sbagliato ma come si fa a mettere l'unordered list attaccato a sinistra? */

ul {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    color: white;
}

.tab-tre {
    width: 50%;
}

thead {
    background-color: blue;
    height: 10px;
}

.tr1, .tr3 {
    background-color: #0099ff;
    }

h4 {
    color: grey;
}

.testoimg {
    font-size: 18px;
    color: white;
    margin: 5px;
}

#imgtesto1 {
    margin: 5px;
    background-size: auto;
    background-image: url(../img/monitor.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
}

#imgtesto2 {
    margin: 5px;
    background-size: auto;
    background-image: url(../img/graph.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
}